:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #eee;
  --bg-color: #223;
  --square-bg-color: #445;
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  max-width: 95vw;
  width: 960px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.prompt-button {
  border-radius: 10px;
  border: 2px solid var(--text-color);
  font-size: 1.5rem;
  margin: 20px;
  padding: 15px;
  background-color: var(--bg-color);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s, scale 0.1s;
}
.prompt-button:hover {
  opacity: 1;
}
.prompt-button:active {
  scale: 0.98;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--square-bg-color);
  aspect-ratio: 1;
  border: 1px solid black;
}
.leave-transition {
  transition: background-color 1s;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #242424;
    --bg-color: #eee;
    --square-bg-color: #ccc;
  }
}
